.listContainer {
   /* flex:3;*/
    min-width: 300px; /*used to be 1200px*/

    /*padding:20px;*/
    /*margin:20px;*/
    border-radius: 20px;
   box-shadow:0px 0px 15px -10px rgba(0,0,0,0.8);
    -webkit-box-shadow:0px 0px  15px -10px rgba(0,0,0,0.8);
    
}

.widgetSmTitle {
    font-size: 25px;
    font-weight: 700;
    padding:30px;
    display: flex;
     justify-content: center;
      /*text-align: center;*/
}

.devAvatar {
    width:50px;
    height:50px;
    border-radius:50%;
    cursor:pointer;

}

.widgetSmList {
 margin:0px;
 padding:30px;
 list-style: none;
 min-width: 200px; /*used to be 1000px*/
}


/*this is to align list items in a vertical direction and put some space between list items*/
.widgetSmListItem {
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin:20px 0px;
    min-width:200px; /*just experimenting*/
    border-radius: 20px;
    padding:10px;
   box-shadow:0px 0px 15px -10px rgba(0,0,0,0.8);
    -webkit-box-shadow:0px 0px  15px -10px rgba(0,0,0,0.8);
}

/*this is to make the name and title in a column*/
.widgetSmUser {
    display:flex;
    flex-direction:column;
   
}

.widgetSmUsername {
    font-weight: 600;
}

.widgetSmUserTitle {
    font-weight: 300;
}


.widgetSmSlotSelect{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}


.widgetSmSDaySelect{
    /*display:flex;
    flex-wrap:nowrap;*/
    margin-top:-200px;
}



.widgetSmSTimeSelect{
    display:flex;
    flex-wrap:nowrap;
   
}







.widgetSmButton {
    /*display:flex; 
    align-items:center; */
    
    border:none;
    border-radius:3px;
    /*padding:7px 10px;*/
    background-color:  rgb(221, 174, 46); /*#b0b0b4;*/
    color:#ffff;
    font-size:5px;
    
}
 
.buttonBackground {
    background-color: rgb(221, 174, 46);
      /*#b0b0b4;so that the icon's background matches with the button*/
   /* margin-right: 10px;*/
}

/* FOR FILE TABS*/
#tabs {
    overflow: hidden; 
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #tabs li {
    float: left;
    margin: 0 .5em 0 0;
  }
  
  #tabs a {
    position: relative;
    background: #ddd;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    padding: .7em 3.5em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: 5px 0 0 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
  }
  
  #tabs a:hover,
  #tabs a:hover::after,
  #tabs a:focus,
  #tabs a:focus::after {
    background: #fff;
  }
  
  #tabs a:focus {
    outline: 0;
  }
  
  #tabs a::after {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;
    bottom: 0;
    width: 1em;
    background: #ddd;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    transform: skew(10deg);
    border-radius: 0 5px 0 0;
  }
  
  #tabs #current a,
  #tabs #current a::after {
    background: #fff;
    z-index: 3;
  }
  
  #content {
    background: #fff;
    padding: 2em;
    height: 220px;
    position: relative;
    z-index: 2;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
  }


